body {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}

form {
    margin: auto;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 650px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: white;
}

legend {
    font-weight: bolder;
    font-size: larger;
    text-align: left;
    color: black;
}

label {
    display: block;
    margin-top: 10px;
    color: black;
    font-weight: bolder;
    font-size: larger;
}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}

button {
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: wheat;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Making the resume editable here */
    outline: none;
}

#resume-display h2 {
    color: black;
}

#resume-display p {
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}
